body {
  font-family: 'Chakra Petch', sans-serif;
  color:azure;
  font-size: larger;
  line-height: normal;
  text-align: center;
  background-image: url('https://media3.giphy.com/media/KH4QT4rqnnka04884l/200w.gif?cid=6c09b952b819qhr9ii89auyahkyfej7pij01x2hawngfsi5t&ep=v1_gifs_search&rid=200w.gif&ct=g');
  background-size: cover;
  /* height: 100vh; */
  padding:40px;
  margin:0;
}

h1 {
  font-size: 50px;
  font-weight: 400px;
  line-height: 50px;
  color:deeppink;
  font-family: 'Black Ops One', serif;
}

h2 {
  font-size: 40px;
  line-height: 30px;
  color:deeppink;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color:deeppink;
  font-size: 25px;
  text-decoration: none;
}

button {
  border-radius: 4px;
  background-color: aliceblue;
}

a:hover {
  color:chartreuse;
}

.container {
  margin: 30px auto;
  margin-bottom: 30px;
  width: 700px;
}

.card{
  background: darkslateblue;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgb(186, 121, 233);
  margin-top: 20px;
  margin: 20px auto;
  /* width: 600px; */
  border: 2px solid rgb(243, 172, 219);
}

@media (max-width: 960px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 400px;
  }
}
